:root {
    --blanco: #ffffff;
    --gris: #f0f0f0;
    --gris2: #8a9297;
    --color1: #6355f2 ;
    --color2: #313551 ;
    --color3: #050928  ;
    --color4: #933ff1;
    --color5: #0ee5fc;
    --color6:#ec30a4;
    --color7:#fed67d;

}
body {
    font-family: 'Tahoma', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Verdana','Helvetica Neue', sans-serif;
}

.text-yellow{
    color: var(--color7)  !important;
}

.skin-yellow .main-header .navbar {
    background-color: var(--color2)  !important;
}
.skin-yellow .main-header .logo {
    background-color: var(--color3)  !important;
}
.skin-yellow .main-header .navbar .sidebar-toggle:hover{
    background-color: var(--color1)  !important;
}
.skin-yellow .sidebar-menu>li:hover>a, .skin-yellow .sidebar-menu>li.active>a {
    border-left-color: var(--color1)  !important;
    background-color: var(--color3)  !important;
    color: var(--blanco)  !important;/*LEOSAP Fondo seleccionado en blanco*/
}
.md{
    color: var(--color1)  !important;
}
.md:hover{
    color: var(--blanco)  !important;
}
.md_dark{
    color: var(--color1)  !important;
}
.md_dark:hover{
    color: var(--color3)  !important;
}

.skin-yellow .wrapper, .skin-yellow .main-sidebar, .skin-yellow .left-side {
    background-color: var(--color3)  !important;	
}
.skin-yellow .sidebar-menu>li.header {
    background-color: var(--color2)  !important;
    color: var(--gris2)  !important;
}

.skin-yellow .treeview-menu>li>a {
    color: var(--gris2)  !important;
    background-color: var(--color2)  !important;
}
.skin-yellow .treeview-menu>li.active>a, .skin-yellow .treeview-menu>li>a:hover {
    color: var(--blanco)  !important;
}
.skin-yellow .sidebar a {
    color: var(--gris)  !important;
}
.skin-yellow .sidebar a:hover {
    color: var(--blanco)  !important;
}
.skin-yellow .main-header li.user-header {
    background-color: var(--color3)  !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto !important;
}
.skin-yellow .sidebar-menu>li>.treeview-menu {

    background: var(--gris)  !important;
}

.login-page, .register-page {
    background: var(--color2)  !important;
}
.login-logo a, .register-logo a {
    color: var(--blanco)  !important;
}

.btn.btn-flat {
    color: var(--blanco) !important;
    background-color: var(--color1)  !important;
    border-color: var(--color1)  !important;
}

.btn.btn-flat:hover {
    /*color: var(--color3)  !important;*/
    background-color: var(--color2)   !important;
    border-color: var(--color3)   !important;
}

.btn.btn-flat-inverse {
    color: var(--blanco) !important;
    background-color: var(--color1)  !important;
    border-color: var(--color1)  !important;
    border-radius:0px !important;
}

.btn.btn-flat-inverse:hover {
    color: var(--color3)  !important;
    background-color: var(--blanco)  !important;
    border-color: var(--blanco)  !important;
    border-radius:0px !important;
}

.btn.btn-flat-dark {
    color: var(--color2) !important;
    background-color: var(--gris)  !important;
    border-color: var(--gris2)  !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 1px !important;
}
.btn-flat-warning{
    color: #000000 !important;
    background-color: var(--gris) !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 1px !important;

}
.label-danger{
    border-width: 1px !important;
    border-radius: 0 !important;
} 
.btn-flat-warning:hover{
    color: var(--gris)  !important;
    background-color: #000000!important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 1px !important;

} 


.btn.btn-flat-dark:hover {
    color: var(--blanco)  !important;
    background-color: var(--color1)   !important;
    border-color: var(--color1)   !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-width: 1px !important;
}
.content-wrapper, .right-side {
    background-color: var(--gris)  !important;
}
.skin-yellow .main-header .navbar .nav>li>a:hover, .skin-yellow .main-header .navbar .nav>li>a:active, .skin-yellow .main-header .navbar .nav>li>a:focus, .skin-yellow .main-header .navbar .nav .open>a, .skin-yellow .main-header .navbar .nav .open>a:hover, .skin-yellow .main-header .navbar .nav .open>a:focus, .skin-yellow .main-header .navbar .nav>.active>a {
    background-color: var(--color3)  !important;

}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--gris) !important;
}
.table-hover>tbody>tr:hover {
    background-color: var(--gris)  !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    background-color:var(--color1)  !important;
    border-color:var(--color1)  !important;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    border: 1px solid var(--gris)  !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}
.form-control {
    border-color: var(--gris)  !important;
    color: var(--color2)  !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
    background-color: var(--color1)  !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {

    padding-left: 0px !important;

}
.table.dataTable tbody tr.active:hover th {
    background-color: var(--color1)  !important;
}
.input-sm>option:focus{
    background-color: var(--color1)  !important;
}
textarea { resize: vertical !important; }
dl {
    margin-bottom: 10px !important;
}
.text-aqua {
    color: var(--color1)  !important;
}
.select2{
    width: 100% !important;
}
.table{
    width: 100% !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: var(--color1)  !important ;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
    background-color: var(--color3)  !important ;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
    padding: 9px !important;
}

.toggle{
    display:none !important;
}

.fa-bt {
    margin-right: 5px;
}

.progress-bar-green, .progress-bar-success {
    background-color: var(--color4) ;
}

.bg-aqua{
    background-color: var(--color1)  !important;
}
.bg-maroon{
    background-color: var(--color5)  !important;
}
.bg-green{
    background-color: var(--color3)  !important;
}
.bg-yellow{
    background-color: var(--color6)  !important;
}
.bg-olive{
    background-color: var(--color7)  !important;
}


.box.box-primary {
    border-top-color: var(--color1)  !important;;
}
.no-border-bottom{
    margin-bottom: 5px
}
.border-bottom{
    margin-bottom: 20px
}
.checkbox-inline, .radio-inline{
    padding-left:0px !important;
}
.label-warning{
    background-color: var(--color1)  !important;

}
.label-success{
    background-color: var(--color4)  !important;

}

.box.box-info {
    border-top-color: var(--color1)  !important;
}
.btn-success,.btn-warning  {
    background-color: var(--color4)  !important;
    border-color: var(--color5)  !important;

}

.table {
    max-width: 99.99999% !important;
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: var(--color4)  !important;
}
.flash-main{
    position: absolute !important;
    top: 35px !important;
}
.detail-button{
    margin-left: 15px;
}
.form-group.has-success label {
    color: var(--color4) !important;
}
.btn,.bootstrap-dialog .modal-header {

    border-radius: 0 !important;
}
.btn-success:hover, .btn-success:active, .btn-success.hover,.btn-warning:hover {
    background-color: var(--color1)  !important;
    border-color: var(--color1)  !important;
}

a:hover, a:active, a:focus {
    color:  var(--color1) ;
}
a {
    color:  var(--color4);
}
.bootstrap-switch{
    margin-left:15px !important;
    border-radius:  0px !important;
}
.bootstrap-switch .bootstrap-switch-handle-on {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {

    background: var(--gris2);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {

    background: var(--color4);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {

    background: var(--color1);
}
.login-box, .register-box {
    width: 600px !important;

}
.select2-group{
    margin-bottom: 15px !important;
}
@media (max-width: 600px) { 
    .login-box, .register-box {
        width: 360px !important;

    }
}
.select2-container--krajee .select2-selection {

    border-radius:  0px !important;
    border: 1px solid #ccc !important;
    border-color: var(--gris) !important;


}
.select2-container .select2-selection--single .select2-selection__rendered {

    margin-top: 0px   !important; 
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow {

    border-left: 1px solid var(--gris);

}
.select2-container--krajee .select2-dropdown {
    border-color: var(--gris2) !important;

}
.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(102, 175, 233, 0.6);

    border-color: var(--gris2) !important;
}
.select2-container--krajee .select2-selection {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);


}
.select2-container--krajee .select2-results__option[aria-selected=true] {
    color: var(--color2) !important;
    background-color: var(--gris) !important;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: var(--color4) !important;
    color: var(--blanco) !important;
}
input:hover,.select2-selection:hover,.bootstrap-switch:hover,input:focus,.select2-selection:focus,.bootstrap-switch:focus{
    border-color: var(--gris2) !important;
}

hr {
    margin-top: 10px; 
    margin-bottom: 10px; 
    border-top: 1px solid var(--gris);
}

.bootstrap-dialog.type-warning .modal-header {
    background-color:var(--color4) !important;
}
.select2-container--krajee .select2-search--dropdown .select2-search__field,.bootstrap-switch .bootstrap-switch-handle-off {

    border-radius: 0px;

}

.iframe-pdf{
    width: 100%;
    height: 82vh;
}
.footer {
    height: 35px !important;
    background-color: var(--gris) !important;
    padding-top: 0px !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a, .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a, .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background-color: var(--color2) !important;
    color: var(--blanco) !important;

}


.datepicker table tr td.active:active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active {
    color: var(--blanco) !important;
    background-color: var(--color4) !important;
    border-color: var(--color4) !important;
}

.datepicker table tr td.today,.datepicker table tr td.today:hover {
    color: var(--blanco) !important;
    background-color: var(--color1) !important;
    border-color: var(--color1) !important;
}

.btn-primary {
    background-color:  var(--color1) !important;
    border-color: var(--color1) !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color:  var(--color4) !important;
    border-color: var(--color4) !important;
}

.fileinput-upload-button {

    color: var(--blanco) !important;
    background-color:  var(--color4) !important;
    border-color: var(--color4) !important;
}

.fileinput-upload-button:hover, .fileinput-upload-button:active, .fileinput-upload-button.hover {
    background-color:  var(--color1) !important;
    border-color: var(--color1) !important
}

.alert-info, .label-info, .modal-info .modal-body {
    background-color: var(--gris) !important;
    color: var(--color2) !important;
}

.bg-black{
    background-color: var(--gris2) !important; 
}

.bg-green{
    background-color: var(--color4) !important; 
}

.bg-aqua{
    background-color: var(--color1) !important; 
}
.small-box .small{
    font-size:13px !important;
}
.small-box h3 {
    margin-bottom: 1px !important;
}
.modal-header{
    color: var(--blanco) !important; 
    font-size: 16px;
}
.modal-body-autorizacion{
    height: 80vh !important;
}
.placa{
    font-weight: bold;
    background-color: #FFC300;
}
.logo-mini{
    font-weight: 350 !important;
}